@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
body {
  background: #2D3142;
  font-family: 'Raleway', sans-serif;
}



h1 {
  font-size: 4em;
  text-align: center;
  padding: 10px 0 0 0;
  color: #EF8354;
  font-weight: 500;
  letter-spacing: 1px;
}

h3 {
  font-size: 2em;
  text-align: center;
  padding: 20px 0 30px 0;
  color: #EF8354;
  font-weight: bold;
  letter-spacing: 1px;
}





.button {
  display: inline-flex;
  height: 40px;
  width: 200px;
  border: 2px solid #BFC0C0;
  margin: 20px 20px 20px 20px;
  color: #BFC0C0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

a {
  color: #BFC0C0;
  text-decoration: none;
  letter-spacing: 1px;
}


#button-a{
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-a a {
  position: relative;
  transition: all .45s ease-Out;
}

#translate {
  transform: rotate(50deg);
  width: 100%;
  height: 250%;
  left: -200px;
  top: -30px;
  background: #BFC0C0;
  position: absolute;
  transition: all .3s ease-Out;
}

#button-a:hover #translate {
  left: 0;
}

#button-a:hover a {
  color: #2D3142;
}

@media screen and (min-width:1000px) {
  h1 {
    font-size: 4em;
  }
  #container {
    width: 50%;
  }
}
